*.pyc
*~
*.iml
.idea/
.project
.pydevproject
.ropeproject/
.settings/
.vscode

.pybuild/
build
dist/
frontik.egg-info/
frontik/routes_map_exclude-dev-watcher_.py
.eggs/
.pytest_cache/
.venv/
/python_venv

/asyncio
/tornado
/http_client
/pystatsd

*.log
*.rlog
*.slog
.coverage*
!.coveragerc
.tox/
/tests/temp/

# OS X junk
.AppleDouble
.DS_Store
Icon?
.Spotlight-V100
.Trashes

# Windows junk
ehthumbs.db
Thumbs.db
Desktop.ini
