*.pyc
*~
*.iml
.idea/
.project
.pydevproject
.ropeproject/
.settings/

build
debian/*.debhelper
debian/*.substvars
debian/files
debian/frontik
debian/pycompat
debian/python-module-stampdir/
dist/
frontik.egg-info/

*.log
*.pid
.coverage*
!.coveragerc
.tox/
/tests/temp/

# OS X junk
.AppleDouble
.DS_Store
Icon?
.Spotlight-V100
.Trashes

# Windows junk
ehthumbs.db
Thumbs.db
Desktop.ini
