*.pyc
*~
.idea/
.project
.pydevproject
.ropeproject/
.settings/
build
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/frontik
debian/pycompat
debian/python-module-stampdir/
frontik.egg-info/
dist/
frontik.egg-info/
frontik.iml
src/frontik_dev.cfg
src/frontik_test.log
