jinja2 == 3.0.3
lxml == 4.6.5
pycurl == 7.45.1
pydantic == v1.7.3
tornado @ https://github.com/hhru/tornado/archive/5.1.1.zip
balancing-http-client @ https://github.com/hhru/balancing-http-client/archive/1.3.4.zip
python-consul2-hh @ https://github.com/hhru/python-consul2/archive/v0.2.6.zip
opentelemetry-sdk == 1.8.0
opentelemetry-api == 1.8.0
opentelemetry-exporter-otlp-proto-grpc == 1.8.0
opentelemetry-instrumentation-tornado @ https://github.com/hhru/opentelemetry-python-contrib/archive/v0.27b0-hh.zip#subdirectory=instrumentation/opentelemetry-instrumentation-tornado
