jinja2 >= 2.8
lxml >= 3.5.0
pycurl >= 7.43.0
pydantic == v1.7.3
tornado @ https://github.com/hhru/tornado/archive/5.1.1.zip
aiohttp == 3.6.2
balancing-http-client @ https://github.com/hhru/balancing-http-client/archive/1.1.2.zip
python-consul2 @ https://github.com/hhru/python-consul2/archive/v0.2.2-hh.zip
