jinja2 == 3.0.3
lxml == 4.9.1
pycurl >= 7.43.0
pydantic >= 1.7.3
tornado @ https://github.com/hhru/tornado/archive/5.1.1.zip
balancing-http-client @ https://github.com/hhru/balancing-http-client/archive/1.4.0.zip
python-consul2-hh @ https://github.com/hhru/python-consul2/archive/v0.2.8.zip
opentelemetry-sdk == 1.8.0
opentelemetry-api == 1.8.0
opentelemetry-exporter-otlp-proto-grpc == 1.8.0
opentelemetry-instrumentation-tornado @ git+ssh://git@github.com/hhru/opentelemetry-python-contrib@v0.27b0-hh#subdirectory=instrumentation/opentelemetry-instrumentation-tornado
