Source: frontik
Section: python
Priority: extra
Maintainer: Andrey Sumin <an.sumin@hh.ru>
Build-Depends: 
  cdbs,
  debhelper (>= 7), 
  python-support,
  python,
Standards-Version: 3.8.1

Package: frontik
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
  python-daemon,
  python-lxml,
  python-simplejson,
  python-tornado (>= 2.0~hh7),
  python-tornado-util (>= 0.5.1),
  python, 
Suggests: python-graypy (>= 1.0+hh3)
Description: Tornado-based application server
