Source: frontik
Section: unknown
Priority: extra
Maintainer: Andrey Tatarinov <a.tatarinov@hh.ru>
Build-Depends: 
  cdbs,
  debhelper (>= 7), 
  python-support,
  python,
Standards-Version: 3.8.1

Package: frontik
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, 
  python-daemon,
  python-lxml,
  python-simplejson,
  python-tornado (>= 1.2.1~hh1),
  python-tornado-util (>= 0.3),
  python, 
Description: frontik - the python based XScript alternative 
