#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build .*egg-info *.log *.pid

override_dh_auto_test:
	pep8 --statistics --max-line-length 120 frontik tests || true
	nosetests tests -vv || exit 1
