#!/usr/bin/make -f
# -*- makefile -*-

DEB_DH_INSTALLINIT_ARGS = --no-start
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_PYTHON_SYSTEM = pysupport
include /usr/share/cdbs/1/class/python-distutils.mk

binary/frontik::
	head -n1 debian/changelog | sed "s/^frontik (\(.*\)).*/version = '\1'/" > src/frontik/version.py 
