# All settings are left to default values

port = 9400
app = 'example_app'
consul_enabled=False
node_name='test'
datacenter='test'
http_client_allow_cross_datacenter_requests=False

debug=True
debug_login = 'user'
debug_password = 'god'

stderr_log = True

jinja_template_root = 'templates'
